:root {
    --main-font: 'Inter', Arial, sans-serif;
    --accent-font: 'PressStart2P', fantasy;

    --main-text-weight: 400;
    --title-text-weight: 700;

    --accent-color: #000;
    --background-color: #fff;
    --card-background-color: #fff;

    --content-width: clamp(375px, 50vw, 696px);

    --label-stroke-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #ff0000;

    --page-background:
            repeating-linear-gradient(
                    to right,
                    #d3d3d3 0 2px,
                    transparent 2px 4px
            ),
            repeating-linear-gradient(
                    to bottom,
                    #d3d3d3 0 2px,
                    transparent 2px 4px
            ),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}